@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models


    <section class="testimoial-section">
        <div class="container">
            <div class="section-border">
                <div class="section-title">@Model.Value("testimonialHeading")</div>
                <h2>@Model.Value("testimonialTitle")</h2>
                <div class="testimonials">
                    @Html.GetBlockListHtml(Model.TestimonialServices)
                    
                </div>
                <a class="btn-dark" href="@Model.Value("testimonialButtonUrl")">@Model.Value("testimonialButton")<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>
    
   