@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsItemPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Models.PublishedContent;
@inject IUserService UserService;

@{
	Layout = "LayoutWi.cshtml";
	var userService = UserService;
	var image = Model.Value<IPublishedContent>("newsImage");
	var News = "News, Articles";
	Model.Value(News);
}

    <section class="news-details">
        <div class="container">
            <div class="details-header">
                <h1>@Model.Name</h1>
                <div class="header-details">
                    <p>@Model.CreateDate.ToString("MM,dd,yyyy")</p>
                    <div class="yellow-dot"></div>
                    <p>@Model.Value("newsCategory")</p>
                    <div class="yellow-dot"></div>
                    <p>@Model.CreatorName(UserService)</p>
                </div>
            </div>
            <div class="news-details-grid">
                <div class="news-details-body">
                    <img src="@image.Url()" alt="">
                    
                    @Model.Value("newsContent")
                    
                    <div class="tags">
                        @foreach(var tag in Model.Value<IEnumerable<string>>("newsTags"))
                        {
                            <a href="#" class="tag">@tag</a>
                        }
                    </div>
                </div>
                <div class="sidebar">
                    <input type="text" placeholder="Type to search...">
                    <div class="recent-posts">
                        <h3>Recent Posts</h3>
                        <div class="post">
                            <h5>How To Blow Through Capital At An Incredible Rate</h5>
                            <p>@Model.CreateDate.ToString("MM,dd,yyyy")</p>
                        </div>
                        <div class="post">
  
                            <h5>Design Studios That Everyone Should Know About? </h5>
                            <p>@Model.CreateDate.ToString("MM,dd,yyyy")</p>
                        </div>
                        <div class="post">
                            <h5>How did we get 1M+ visitors in 30 days without anything!</h5>
                            <p>@Model.CreateDate.ToString("MM,dd,yyyy")</p>
                        </div>
                        <div class="post">
                            <h5>Figma On Figma: How We Built Our Website Design System</h5>
                            <p>@Model.CreateDate.ToString("MM,dd,yyyy")</p>
                        </div>
                    </div>
                    <div class="categories">
                        <h3>Categories</h3>
                        <div class="category">
                            <h6>Technology</h6>
                            <span>-</span>
                            <a href="#">20 Posts</a>
                        </div>
                        <div class="category">
                            <h6>Freelancing</h6>
                            <span>-</span>
                            <a href="#">07 Posts</a>
                        </div>
                        <div class="category">
                            <h6>Writing</h6>
                            <span>-</span>
                            <a href="#">16 Posts</a>
                        </div>
                        <div class="category">
                            <h6>Marketing</h6>
                            <span>-</span>
                            <a href="#">11 Posts</a>
                        </div>
                        <div class="category">
                            <h6>Business</h6>
                            <span>-</span>
                            <a href="#">35 Posts</a>
                        </div>
                        <div class="category">
                            <h6>Education</h6>
                            <span>-</span>
                            <a href="#">14 Posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Aerticle-section-->
    <div style="background-color: #f0d082;">
        @await Html.PartialAsync("_ArticleSection")
    </div>
